.createText{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

ul{
    text-align: left;
    display: flex;
    flex-direction: column;
}

header{
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
}

li{
    max-width: 1000px;
    padding-bottom: 2em;
    padding-top: 2em;
    transition: 0.3s;
    font-size: 22px;
}

li:hover{
    background-color: rgba(90, 42, 165, 0.5);
}

li:active{
    background-color: rgba(101, 60, 100, 0.5);
}

.disable{
    display: none;
}

.deleteBtn{
    margin-bottom: 1.5em;
}

.semiHeader{
    display: flex;
    justify-content: space-around;
}

@media(min-width: 1000px){
    .createText{
        margin-left: 10em;
        margin-right: 10em;
    }
    header{
        margin-top: 7em;
    }
}